@import '../../assets/styles/global.scss';

.container-product {
  margin: 20px 0;
  background-color: white;
  border-radius: 4px;
  grid-column: 2 / 12;
  box-shadow: 0 0 10px rgba($color: $darker_gray, $alpha: .1);
}

.detail-product {
  display: grid;
  grid-template-columns: $extend_padding auto $extend_padding;
  grid-template-rows: 32px auto 32px 1fr;

  @media (min-width: $sm-breakpoint) {
    grid-template-columns: $extend_padding 280px $default_padding 1fr $extend_padding;
    height: 280px;
  }

  @media (min-width: $md-breakpoint) {
    grid-template-columns: $extend_padding 380px $default_padding 1fr $extend_padding;
    height: 380px;
  }

  @media (min-width: $lg-breakpoint) {
    grid-template-columns: $extend_padding 680px $default_padding 1fr $extend_padding;
    height: 680px;
  }
}

.detail-product-info {
  grid-column: 2;
  grid-row: 2;
  width: 70%;

  @media (min-width: $sm-breakpoint) {
    grid-row: 2;
  }
}

.detail-product-content {
  grid-column: 2;
  grid-row: 4;
  width: 100%;

  @media (min-width: $sm-breakpoint) {
    grid-column: 4;
    grid-row: 2;
  }
}

.detail-product-sold {
  font-size: 14px;
  margin: 0 0 $default_padding 0;
  text-align: left;
  color: $darker_gray;

  @media (min-width: $sm-breakpoint) {
    grid-row: 2;
    grid-column: 4;
  }
}

.detail-product-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  min-height: 50px;
  color: $darker_gray;

  @media (min-width: $sm-breakpoint) {
    grid-row: 4;
    grid-column: 4;
  }
}

.detail-product-price {
  font-size: 46px;
  text-align: left;
  color: $darker_gray;
  padding: $extend_padding 0;

  @media (min-width: $sm-breakpoint) {
    grid-row: 6;
    grid-column: 4;
  }
}

.detail-product-button {
  grid-column: 2;
  grid-row: 10;
  background-color: $action_button;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @media (min-width: $sm-breakpoint) {
    grid-row: 8;
    grid-column: 4;
  }
}

.coin {
  margin-right: $default_padding;
}

.description-product {
  width: 100%;
  display: grid;
  grid-template-columns: $extend_padding auto $extend_padding;
  grid-template-rows: $extend_padding 30px $extend_padding auto $extend_padding;

  @media (min-width: $sm-breakpoint) {
    grid-template-columns: $extend_padding 280px $default_padding 1fr $extend_padding;
  }

  @media (min-width: $md-breakpoint) {
    grid-template-columns: $extend_padding 380px $default_padding 1fr $extend_padding;
  }

  @media (min-width: $lg-breakpoint) {
    grid-template-columns: $extend_padding 680px $default_padding 1fr $extend_padding;
  }
}

.description-product>h2 {
  font-size: 28px;
  color: $darker_gray;
  font-weight: 400;
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  margin: 0;
}

.description-text {
  font-size: 16px;
  color: $darker_gray;
  font-weight: 400;
  grid-column: 2;
  grid-row: 4;
  text-align: left;
  margin: 0;
}

.description-text>table {
  table-layout: fixed;
  width: 100% !important;
  height: auto;

  & * {
    max-width: 100%;
  }
}

.breadcrumb {
  padding: 15px;
  grid-column-start: 2;
  grid-column-end: 12;
  margin-top: 0;
  color: $breadcrumbs_color;
}